<div class="pan-container">

  <div class="action-arr">
      <a href="#" class="back-lk"><i class="fa-solid fa-arrow-left"></i></a>
      <h2 class="page-title">Pan Authentication</h2>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <div class="pan-box">    

    <p class="subtitle">
      Please enter your PAN Card Number  
      Your identity is secure with us
    </p>

    <!-- PAN INPUT -->
    <input
      type="text"
      class="pan-input"
      maxlength="10"
      placeholder="Enter PAN Number"
      [(ngModel)]="panNumber"
    />

    <!-- CONTINUE BUTTON -->
    <button class="continue-btn" (click)="previewPan()">
      Continue
    </button>

  </div>
    </div>

    <div class="col-md-6">
      <div style="background: #fff; padding: 30px;">
        <img src="assets/images/pan_card.webp" class="img-fluid" style="max-height: 160px; margin: auto; display: block;">
      </div>
    </div>

  </div>
  

</div>

<!-- 🔥 PREVIEW MODAL -->
<div class="modal-backdrop pan-form" *ngIf="showModal">

  <div class="modal-box">

    <h4>Verify PAN Details</h4>

    <div class="modal-row">
      <span>Name</span>
      <strong>{{ panData?.fullName }}</strong>
    </div>

    <div class="modal-row">
      <span>DOB</span>
      <strong>{{ panData?.dob }}</strong>
    </div>

    <div class="modal-row">
      <span>PAN</span>
      <strong>{{ panData?.masked }}</strong>
    </div>

    <div class="modal-row">
      <span>Gender</span>
      <strong>{{ panData?.gender }}</strong>
    </div>

        <div class="modal-row">
      <span>Father</span>
      <strong>{{ panData?.fatherName }}</strong>
    </div>

    <div class="modal-actions">
      <button class="btn-secondary btn-white" (click)="closeModal()">
        Cancel
      </button>

      <button class="btn-primary theme" (click)="confirmPan()">
        Verify
      </button>
    </div>

  </div>

</div>
