<div class="loan-app-wrapper">

  <!-- HEADER TEXT -->
  <p class="loan-app-desc">
    Begin your journey to financial empowerment – provide the necessary details
    to initiate your loan application.
  </p>

  <div class="loan-app-card">

    <!-- LEFT COLUMN -->
    <div class="loan-left">

      <!-- PROGRESS CARD -->
      <div class="loan-progress">
        <div class="loan-progress-title">
          Loan Application
        </div>

        <div class="loan-progress-bar">
          <div class="loan-progress-fill" style="width:70%"></div>
        </div>

        <div class="loan-progress-percent">70%</div>
      </div>

      <!-- STEP ITEM -->
      <div class="loan-step completed"  [routerLink]="['/dashboard/loan/employment']">
        <div class="loan-step-icon">📊</div>
        <div class="loan-step-text" >
          <h5>Employment Details</h5>
          <p>Share about your work status.</p>
        </div>
      </div>

      <div class="loan-step completed" [routerLink]="['/dashboard/loan/bank']">
        <div class="loan-step-icon">🏦</div>
        <div class="loan-step-text">
          <h5>Fetch Bank Statement</h5>
          <p>Share your bank statements through consent.</p>
        </div>
      </div>

      <div class="loan-step completed">
        <div class="loan-step-icon">💳</div>
        <div class="loan-step-text">
          <h5>Disbursal Bank Details</h5>
          <p>Share bank details for verification.</p>
        </div>
      </div>

    </div>

    <!-- RIGHT COLUMN -->
    <div class="loan-right">

      <div class="loan-step active">
        <div class="loan-step-icon highlight">🧮</div>
        <div class="loan-step-text" [routerLink]="['/dashboard/loan/calculator']">
          <h5>          Get Loan Offer
</h5>
          <p>Choose the loan amount and tenure as per your requirements.</p>
        </div>
        <div class="loan-step-arrow">›</div>
      </div>

      <div class="loan-step" [routerLink]="['/dashboard/loan/ekyc']">
        <div class="loan-step-icon">🪪</div>
        <div class="loan-step-text">
          <h5>eKYC Verification</h5>
          <p>Authenticate yourself using eKYC.</p>
        </div>
      </div>

         <div class="loan-step">
        <div class="loan-step-icon">📄</div>
        <div class="loan-step-text">
          <h5>Documentation Verification</h5>
          <p>Share your latest documents to verify your details.</p>
        </div>
      </div>

<div class="loan-step">
  <div class="loan-step-icon">🧾</div>
  <div class="loan-step-text">
    <h5>Add Reference</h5>
    <p>Add a reference person for verification.</p>
  </div>
</div>


   

    </div>

  </div>

</div>
