<div class="personal-info-container">

  <div class="action-arr">
    <a class="back-lk" >
      <i class="fa-solid fa-arrow-left"></i>
    </a>
    <h2 class="page-title">Upload Bank Statement</h2>
  </div>

  <div class="upload-wrapper mt-3">
    <div class="upload-title">
      <p>Upload your bank statement for financial behaviour verification</p>
    </div>

    <label class="upload-box">
      <input
        type="file"
        accept=".pdf"
        (change)="onFileSelect($event)"
        [disabled]="isUploading"
      />

      <div class="upload-icon">
        <svg width="32" height="32" viewBox="0 0 24 24" fill="none">
          <path d="M12 3V14" stroke="#4F46E5" stroke-width="2"/>
          <path d="M8 7L12 3L16 7" stroke="#4F46E5" stroke-width="2"/>
          <path d="M4 14V17C4 18.6 5.3 20 7 20H17C18.6 20 20 18.6 20 17V14"
                stroke="#4F46E5" stroke-width="2"/>
        </svg>
      </div>

      <div class="upload-text">
        {{ isUploading ? 'Uploading...' : 'Upload your file here' }}
      </div>
    </label>
  </div>

</div>
