<div class="personal-info-container">

  <div class="action-arr">
    <a class="back-lk">
      <i class="fa-solid fa-arrow-left"></i>
    </a>
    <h2 class="page-title">Upload Bank Statement</h2>
  </div>

  <!-- Upload Card -->
  <div class="upload-wrapper mt-3">
    <p>Upload your bank statement for financial behaviour verification</p>

    <button class="btn-primary" (click)="openUploadModal()">
      Upload your file
    </button>
  </div>

  <!-- CONTINUE BUTTON -->
  <div class="mt-4 text-center" *ngIf="uploadCompleted">
    <button class="btn-primary" (click)="continue()">
      Continue
    </button>
  </div>
</div>

<!-- ================= MODAL ================= -->
<div class="modal fade" id="bankUploadModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3 rounded-4">

      <div class="modal-header border-0">
        <h5 class="modal-title">Upload Bank Statement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <!-- File -->
        <label class="form-label">Select PDF File</label>
        <input
          type="file"
          accept=".pdf"
          class="form-control"
          (change)="onFilePicked($event)"
        />

        <!-- Password -->
        <label class="form-label mt-3">
          Password (if protected)
        </label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="password"
          placeholder="Optional"
        />

      </div>

      <div class="modal-footer border-0">
        <button
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          [disabled]="isUploading"
        >
          Cancel
        </button>

        <button
          class="btn btn-primary"
          (click)="confirmUpload()"
          [disabled]="isUploading"
        >
          {{ isUploading ? 'Uploading...' : 'OK' }}
        </button>
      </div>

    </div>
  </div>
</div>
