.profile-container {
  background: #f5f8fd;
  padding: 24px;
  border-radius: 12px;
}

/* INFO */
.info-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
}

/* PROGRESS */
.progress-card {
  background: #ffffff;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.progress-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.progress-header h4 {
  font-size: 18px;
  font-weight: 600;
}

.percent {
  font-size: 13px;
  font-weight: 600;
  color: #2f6cf6;
}

.progress-bar {
  height: 8px;
  background: #e6ebf5;
  border-radius: 8px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #35c86b, #2f6cf6);
}

/* GRID */
.steps-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

/* STEP CARD */
.step-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  border: 1px solid #e3e8f0;
  transition: 0.3s;
}

.step-card:hover {
  border-color: #7c4fe0;
  transform: translateY(-2px);
}

.step-card.active {
  background: #eef4ff;
  border-color: #7c4fe0;
}

.icon {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: #f0f3f9;
}

.text h5 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0 0 5px;
}

.text p {
  font-size: 13px;
  color: #666;
  margin: 0;
}

.arrow {
  margin-left: auto;
  font-size: 18px;
  color: #2f6cf6;
}

/* ACTION */
.action-area {
  margin-top: 24px;
  text-align: right;
}

.btn-primary {
  background: #2f6cf6;
  color: #fff;
  padding: 10px 22px;
  border-radius: 7px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.theme-btn{
  background: linear-gradient(90deg, #7c4fe0, #4528dc);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .steps-grid {
    grid-template-columns: 1fr;
  }

  .action-area {
    text-align: center;
  }
}
