<!-- PAGE WRAPPER -->
<div class="page address-proof">

  <!-- HEADER -->
  <div class="action-arr">
    <a [routerLink]="['/dashboard/loan']" class="back-lk"><i class="fa-solid fa-arrow-left" ></i></a>
    <h3 class="page-title">Address Proof</h3>
  </div>

  <!-- SUBTITLE -->
  <p class="subtitle">
    Please upload two address proof documents.
  </p>

  <!-- DOCUMENT CARD -->
  <div class="card" *ngIf="steps.length">

    <img
      class="doc-img"
      [src]="steps[activeIndex].image"
      alt="Document image"
    />

    <h3 class="doc-title">
      {{ steps[activeIndex].label }}
      <span class="required" *ngIf="steps[activeIndex].required">*</span>
    </h3>

<button class="primary-btn"
        *ngIf="!steps[activeIndex].uploaded"
        (click)="openUpload()"
        [disabled]="isUploading">
  Upload ⬆
</button>

<!-- Uploaded badge -->
<p class="success-text" *ngIf="steps[activeIndex].uploaded">
  ✔ File uploaded successfully
</p>



  </div>

  <!-- DOTS -->
  <div class="dots">
    <span
      *ngFor="let s of steps; let i = index"
      class="dot"
      [class.active]="i === activeIndex">
    </span>
  </div>

  <!-- NAV -->
  <div class="nav-buttons">
    <button (click)="prev()" [disabled]="activeIndex === 0">Previous</button>
    <button (click)="next()" [disabled]="activeIndex === steps.length - 1">Next</button>
  </div>
</div>

<!-- ================= CUSTOM MODAL ================= -->
<div class="modal-overlay" *ngIf="showUploadModal">

  <div class="upload-modal">

    <div class="modal-header">
      <h3>{{ steps[activeIndex].label }}</h3>
      <button class="close-btn" (click)="closeUpload()">✖</button>
    </div>

    <!-- FILE SELECT -->
    <label class="upload-box" [class.disabled]="isUploading">
      <span *ngIf="!selectedFile">⬆ Tap to select file</span>
      <span *ngIf="selectedFile">📄 {{ selectedFile.name }}</span>

      <input
        type="file"
        hidden
        [disabled]="isUploading"
        (change)="onFileSelect($event)"
      />
    </label>

    <!-- PASSWORD -->
    <p class="hint">
      If the document is password protected, enter password below
    </p>

    <input
      type="password"
      [(ngModel)]="password"
      placeholder="Enter password"
      class="password-input"
    />

    <!-- ACTIONS -->
    <div class="modal-actions">
      <button class="cancel-btn" (click)="closeUpload()">Cancel</button>
      <button
        class="primary-btn"
        (click)="confirmUpload()"
        [disabled]="isUploading || !selectedFile"
      >
        {{ isUploading ? 'Uploading...' : 'Continue' }}
      </button>
    </div>

  </div>
</div>

