.bank-container {
  min-height: 80vh;
  background: #f5f7fb;
  padding: 30px;
}

.bank-card {
    background: #fff;
    padding: 30px;
    text-align: center;
    display: grid;
    justify-items: center;
    justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}
.subtitle {
    font-size: 15px;
    color: #666;
    margin-bottom: 40px;
}

.steps {
  display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  align-items: center;
  -ms-flex-pack: distribute;
	justify-content: space-around;
  margin-bottom: 30px;
}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.step-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: linear-gradient(90deg, #7c4fe0, #4528dc);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 6px;
}

.step p {
  font-size: 12px;
  color: #333;
}

.step-line {
  flex: 1;
  height: 2px;
  background: #ddd;
  margin: 0 8px;
  width: 80px;
}

.primary-btn {
    background: linear-gradient(90deg, #7c4fe0, #4528dc);
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 10px 30px;
    border-radius: 7px;
    height: 48px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.primary-btn:hover {
    background: #3c3c3c;
}

.secure-text {
  margin-top: 14px;
  font-size: 12px;
  color: #777;
}
