/* Page */
.page-wrapper {
  min-height: 100vh;
  padding: 30px !important;
  background: linear-gradient(180deg, #eaf1ff, #ffffff);
}

/* Header */
.page-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.action-arr {
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 12px;
    align-items: center;
}
.back-lk {
    background: #fff;
    display: grid;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-items: center;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid #8541da;
    color: #8541da;
    border-radius: 50px;
}
.page-title {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.back-btn {
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}

/* Card */
.card {
    background: #ffffff;
    padding: 30px;
    border-radius: 0;
    border: 1px solid #f1e5ff;
}

/* Subtitle */
.subtitle {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

/* Form */
.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}

.form-group label span {
  color: red;
}

.form-group input {
  width: 100%;
  height: 46px;
  padding: 0 15px;
  border: 2px solid #3b82f6;
  font-size: 14px;
  outline: none;
}

.form-group input::placeholder {
  color: #9ca3af;
}

.form-group input:focus {
  border-color: #1d4ed8;
}

/* Button */
.submit-btn {
    background: linear-gradient(90deg, #7c4fe0, #4528dc);
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 10px 30px;
    height: 48px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.submit-btn:hover {
    background: #3c3c3c;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
    display: block;
    font-family: "Poppins", sans-serif;
    color: #444;    
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 6px;    
}

.form-group span {
  color: red;
}

.form-group input {
  width: 100%;
  height: 44px;
  padding: 10px 15px;
  border: 1px solid #cbd5e1;
  font-family: "Poppins", sans-serif;
  color: #444;    
  font-size: 15px;
}

.form-group small {
  color: red;
  font-size: 12px;
}
