@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.dashboard-home {
  padding: 30px;
}

/* CARD */
.profile-card {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 30px;
  grid-gap: 30px;  
}

/* LEFT */
.profile-left {
    background: #ffffff;
    border: 1px solid #eeeeee;
    padding: 40px;
    border-radius: 10px;
}

.profile-left h3 {
    margin-bottom: 8px;
    color: #3c3c3c;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}

.profile-left p {
  font-size: 15px;
  color: #666;
  margin-bottom: 20px;
}

/* PROGRESS */
.progress-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.progress-bar {
  width: 200px;
  height: 10px;
  background: #dfe6f3;
  border-radius: 20px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #ffb900;
  transition: width 0.4s ease;
}

.progress-text {
  font-size: 12px;
}

/* BUTTON */
.btn-start {
  background: #4528dc;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 10px 22px;
  border-radius: 7px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

/* RIGHT */
.profile-right {    
    color: #4528dc;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    align-items: center;
}

.profile-right h4 {
    margin: 0;
    font-size: 28px;
    font-weight: 300;
    color: #3c3c3c;
    line-height: 1.3;
}

.profile-right span {
  color: #4528dc;
  font-weight: 500;
}

/* SUPPORT BUTTON */
.support-btn {
  margin-top: 20px;
  background: #4528dc;
  color: #fff;
  border: none;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .profile-card {
    flex-direction: column;
  }

  .profile-left,
  .profile-right {
    width: 100%;
  }

  .profile-right {
    margin-top: 16px;
  }
}

.loan-dashboard-card {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 30px;
    grid-gap: 30px;
}

.loan-right span {
  color: #e63946;
}

.loan-left{
    background: #ffffff;
    border: 1px solid #eeeeee;
    padding: 40px;
    border-radius: 10px;
}
.loan-left h3{
    margin-bottom: 8px;
    color: #3c3c3c;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}
