.ekyc-wrapper {
  padding: 30px;
  background: #f4f6fb;
}

/* HEADER */
.action-arr {
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 12px;
    align-items: center;
}
.back-lk {
    background: #fff;
    display: grid;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-items: center;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid #8541da;
    color: #8541da;
    border-radius: 50px;
}
.page-title {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}

.action-arr {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* BOX */
.ekyc-box {
    background: #ffffff;
    padding: 30px;
    min-height: 300px;
    text-align: center;
    display: grid;
    align-content: center;
    justify-items: center;
}

.desc {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #555;
    margin-bottom: 15px;
}

.sub-title {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
    text-transform: capitalize;
}

/* ERROR */
.error-msg {
  color: #ff4d4f;
  font-size: 13px;
  margin-top: 10px;
}

/* BUTTONS */
.btn-primary {
    background: linear-gradient(90deg, #7c4fe0, #4528dc);
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 14px 30px;
    border-radius: 7px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.btn-primary:disabled {
  cursor: not-allowed;
}

.btn-primary:hover {
  background: #d9363e;
}

.btn-secondary {
  background: #1d4ed8;
  border: none;
  color: #fff;
  padding: 10px 26px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.btn-secondary:hover {
  background: #1e40af;
}

/* IFRAME */
.ekyc-frame-wrapper iframe {
  width: 100%;
  height: 450px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* RIGHT IMAGE */
.rfigure{
    background: #fff;
    padding: 30px;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.rfigure img {
    max-width: 250px;
    height: auto;
}
