.ekyc-wrapper {
    padding: 30px;
    background: #f5f8fd;
    border-radius: 0px;
}

.page-title {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}

.desc {
  color: #555;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.btn-primary {
    background: linear-gradient(90deg, #7c4fe0, #4528dc);
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 10px 30px;
    border-radius: 7px;
    height: 48px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.btn-primary:hover{
  background: #3c3c3c;
}

.btn-primary:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-secondary {
  margin-top: 20px;
  background: #1976d2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.error {
  color: #e53935;
  margin-bottom: 12px;
}

.info-box {
  margin-top: 20px;
  font-size: 13px;
  color: #666;
}
.ekyc-frame-wrapper {
  margin-top: 20px;
  height: 550px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.ekyc-frame-wrapper iframe {
  width: 100%;
  height: 100%;
}

.ekyc-box{
    background: #fff;
    border: 1px solid #ececec;
    padding: 30px;
}
.ekyc-box h5{
    text-transform: capitalize;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin: 15px 0px;
    color: #8440da;
}

.rfigure{
    background: #fff;
    border: 1px solid #ececec;
    padding: 30px;
    height: 100%;
}
.rfigure img{
    max-width: 220px;
    margin: auto;
    display: block;
}

.back-lk{
    background: #fff;
    display: grid;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-items: center;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid #8541da;
    color: #8541da;
    border-radius: 50px;
}

.action-arr{
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 12px;
    align-items: center;
}