<div class="personal-info-container">

  <div class="action-arr">
    <a class="back-lk" routerLink="/dashboard/loan">
      <i class="fa-solid fa-arrow-left"></i>
    </a>
    <h2 class="page-title">Upload Salary Slips</h2>
  </div>

  <div class="wrapper mt-3">

<div
  class="salary-card"
  *ngFor="let month of salaryMonths; let i = index"
>
  <div class="salary-left">
    <h3>{{ month.label }}</h3>
    <p *ngIf="!month.uploaded">Upload file</p>
    <p *ngIf="month.uploaded" class="uploaded-text">Uploaded</p>
  </div>

  <button
    class="upload-btn"
    *ngIf="!month.uploaded"
    (click)="openUpload(i)"
  >
    ⬆
  </button>

  <div class="success-icon" *ngIf="month.uploaded">
    ✔
  </div>
</div>


  </div>
</div>

<!-- ================= MODAL ================= -->
<div class="modal-backdrop" *ngIf="showUploadModal">
  <div class="upload-modal">

    <h3>Upload Salary Slip</h3>

    <input
      type="file"
      class="form-control"
      accept=".pdf,.jpg,.jpeg,.png"
      (change)="onFileChange($event)"
    />

    <input
      type="password"
      class="form-control mt-2"
      placeholder="Password (if PDF is protected)"
      [(ngModel)]="password"
    />

    <div class="modal-actions">
      <button class="btn cancel" (click)="closeUpload()">Cancel</button>
      <button class="btn upload" (click)="uploadSalarySlip()">
        Upload
      </button>
    </div>

  </div>
</div>
