<div class="personal-info-container">

<div class="action-arr">
	<a href="#" class="back-lk"><i class="fa-solid fa-arrow-left"></i></a>
	<h2 class="page-title">salary-slip works!</h2>
</div>

<div class="wrapper mt-3">

    <div class="salary-card">
      <div class="salary-left">
        <h3>Salary Slip - December 2025</h3>
        <p>Upload file</p>
      </div>

      <button class="upload-btn">
        <!-- Upload Icon -->
        <svg viewBox="0 0 24 24">
          <path d="M12 16V4" />
          <path d="M7 9l5-5 5 5" />
          <path d="M4 20h16" />
        </svg>
      </button>
    </div>

    <div class="salary-card">
      <div class="salary-left">
        <h3>Salary Slip - November 2025</h3>
        <p>Upload file</p>
      </div>

      <button class="upload-btn">
        <svg viewBox="0 0 24 24">
          <path d="M12 16V4" />
          <path d="M7 9l5-5 5 5" />
          <path d="M4 20h16" />
        </svg>
      </button>
    </div>

    <div class="salary-card" style="margin-bottom:0;">
      <div class="salary-left">
        <h3>Salary Slip - October 2025</h3>
        <p>Upload file</p>
      </div>

      <button class="upload-btn">
        <svg viewBox="0 0 24 24">
          <path d="M12 16V4" />
          <path d="M7 9l5-5 5 5" />
          <path d="M4 20h16" />
        </svg>
      </button>
    </div>

  </div>

</div>