<div class="loan-detail-page" *ngIf="summary">

  <!-- 🔥 HEADER -->
  <div class="header-card">

    <!-- LEFT -->
    <div class="left">
      <button class="back-btn" (click)="goBack()">
        ← Back
      </button>

      <div class="title">
        <h2>{{ summary.applicationNumber }}</h2>
        <p class="sub">
          {{ summary.historyBucket }} • {{ summary.applicationStatus }}
        </p>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="amount">
      ₹ {{ summary.approvedAmount }}
    </div>

  </div>

  <!-- BORROWER -->
  <div class="card compact">

    <h3>Borrower</h3>

    <div class="grid">
      <div>
        <label>Name</label>
        <p>{{ borrower?.firstName }} {{ borrower?.lastName }}</p>
      </div>

      <div>
        <label>Mobile</label>
        <p>{{ borrower?.mobile }}</p>
      </div>

      <div>
        <label>Email</label>
        <p>{{ borrower?.email }}</p>
      </div>

      <div>
        <label>DOB</label>
        <p>{{ borrower?.dateOfBirth ? (borrower?.dateOfBirth | date:'dd-MM-yyyy') : '--' }}</p>
      </div>
    </div>

  </div>

  <!-- LOAN -->
  <div class="card compact">

    <h3>Loan Amount</h3>

    <div class="grid">
      <div>
        <label>Amount</label>
        <p>₹ {{ borrower?.approvedAmount }}</p>
      </div>

      <div>
        <label>Tenure</label>
        <p>{{ loanTerms?.tenureDays }} Days</p>
      </div>

      <div>
        <label>Repayment</label>
        <p>{{ borrower?.repaymentMode }}</p>
      </div>

      <div>
        <label>Status</label>
        <p class="status">{{ summary?.loanStatus }}</p>
      </div>
    </div>

  </div>



</div>
