.personal-info-container {
  padding: 30px;
  background: #f5f8ff;
}

.personal-info-card {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.personal-info-form {
  padding: 30px;
  background: #fff;
  border: 1px solid #f0e4ff;
}

.personal-info-form h2 {
  margin: 0;
  font-size: 28px;
}

.subtitle {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 22px;
}

.personal-info-form .form-group label {
  display: block;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

.required {
  color: #ff4d4f;
}

.personal-info-form .form-group input,
.personal-info-form .form-group select {
    width: 100%;
    height: 48px;
    padding: 7px 15px;
    border-radius: 0;
    border: 2px solid #ddd;
    outline: none;
    font-size: 15px;
    background: #fff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.gender-group {
  display: flex;
  gap: 12px;
}

.gender-mf label{
  display: grid !important;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}
.gender-mf input[type=radio] {
    height: auto !important;
}

.gender-option {
  background: #ffffff;
  color: #000;
  padding: 8px 14px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.gender-option input {
  accent-color: #0b1b4b;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.btn-primary {
    background: linear-gradient(90deg, #7c4fe0, #4528dc);
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 10px 30px;
    border-radius: 7px;
    height: 48px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.btn-primary:hover {
  background: #3c3c3c;
}

.personal-info-illustration {  
  background: #f1f1f1;
}
