.bank-verify-wrapper {
  min-height: 80vh;  
  background: #f2f4f8;
  padding: 30px;
}

.bank-verify-card {
    background: #fff;
    padding: 30px;
    text-align: center;
}

.illustration img {
  margin-bottom: 20px;
}

.error-title {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.verify-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.primary-btn {
    background: linear-gradient(90deg, #7c4fe0, #4528dc);
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 14px 30px;
    border-radius: 7px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.secondary-actions {
  margin-top: 15px;
  font-size: 13px;
}

.secondary-actions a {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    cursor: pointer;
    color: #7c4fe0;
    text-decoration: underline;
}
.right-htfigure{
    background: #fff;
    display: grid;
    align-items: center;
    height: 100%;
}