.header {
  height: 60px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid #e4e7ec;
}

/* LEFT */
.header-left h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #102b61;
}

/* RIGHT */
.header-right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.user-name {
  font-size: 13px;
  color: #102b61;
  font-weight: 500;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #e4e7ec;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .header {
    padding: 0 14px;
  }

  .user-name {
    display: none;
  }
}
