<div class="loan-popup">
  <div class="loan-card">

    <h2 class="loan-title">
      <span class="danger">Great News!!!</span>
      <span class="dark">You Loan eligibility has been Confirmed.</span>
    </h2>

    <!-- Replace this image with your illustration -->
    <img
      src="assets/images/load_eligible.webp"
      alt="Load eligible has been Confirmed"
      class="loan-illustration img-fluid"
    />

    <!-- <p class="loan-desc">
      You are currently ineligible for a loan based on the information provided.
    </p> -->

    <button class="btn btn-close-custom" [routerLink]="['/dashboard/loan']">Continue Application</button>

  </div>
</div>