<aside class="sidebar">

  <div class="logo">
    <img src="assets/images/logo.png" alt="Salary Champion" />
  </div>

  <ul class="menu">

    <!-- DASHBOARD -->
    <li
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="assets/images/dashboard.svg" class="img-fluid"> Dashboard
    </li>

    <!-- MY ACCOUNT -->
    <li routerLink="/dashboard/profile" routerLinkActive="active"><img src="assets/images/my-account.svg" class="img-fluid"> My Account</li>
    <li><img src="assets/images/support.svg" class="img-fluid"> Support</li>
    <li><img src="assets/images/terms-conditions.svg" class="img-fluid"> Terms & Conditions</li>
    <li><img src="assets/images/privacy-policy.svg" class="img-fluid"> Privacy Policy</li>

    <li (click)="logout()"><img src="assets/images/logout.svg" class="img-fluid"> Logout</li>
  </ul>

</aside>
