<aside class="sidebar">

  <div class="logo">
    <img src="assets/images/logo.png" alt="Salary Champion" />
  </div>

  <ul class="menu">

    <!-- DASHBOARD -->
    <li
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Dashboard
    </li>

    <!-- MY ACCOUNT -->
    <li
      routerLink="/dashboard/profile"
      routerLinkActive="active"
    >
      My Account
    </li>

    <li>Support</li>
    <li>Terms & Conditions</li>
    <li>Privacy Policy</li>

    <li (click)="logout()">Logout</li>
  </ul>

</aside>
