.sidebar {
  width: 17%;
  min-height: 100vh;
  background: linear-gradient(90deg, #7c4fe0, #4528dc);
  color: #fff;
  padding: 20px 0;
  position: fixed;
  left: 0;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  width: 170px;
  filter: brightness(0) invert(1);
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
    padding: 10px 24px;
    display: grid;
    grid-template-columns: 16px 1fr;
    grid-gap: 10px;
    gap: 10px;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid #ffffff12;
    transition: background 0.3s, padding-left 0.3s;
}

.menu li.active {
    color: #ffb900;
    /* background: #ffffff; */
}

.menu .icon {
  font-size: 16px;
}

.logout {
  margin-top: 20px;
  color: #ffbaba;
}

.logout:hover {
  background: rgba(255, 0, 0, 0.15);
}
.radius-10{
  border-radius: 10px;
}

/* 1025px to 1199px (medium desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .sidebar{
    width: 250px;
  }
  .menu li {padding: 10px 15px;}
}

/* 992px to 1024px (tablet landscape & small desktops) */
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  
}

.disabled-tab {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none; /* 🔥 click completely blocked */
}

.disabled-icon {
  filter: grayscale(100%);
}
