<aside class="sidebar" [class.active]="isSidebarOpen">
  <div class="logo">
    <img src="assets/images/logo.png" alt="Salary Champion" />
  </div>

  <ul class="menu">
    <!-- DASHBOARD -->
    <li
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="assets/images/dashboard.svg" class="img-fluid" /> Dashboard
    </li>

    <!-- MY ACCOUNT -->
    <li
      [routerLink]="isProfileComplete ? '/dashboard/profile/preview' : null"
      routerLinkActive="active"
      [class.disabled-tab]="!isProfileComplete"
      (click)="!isProfileComplete && $event.preventDefault()"
    >
      <img
        src="assets/images/my-account.svg"
        class="img-fluid"
        [class.disabled-icon]="!isProfileComplete"
      />
      My Account
    </li>
    <li
      [routerLink]="['/dashboard/profile/loan-history']"
      routerLinkActive="active"
    >
      <img src="assets/images/support.svg" class="img-fluid" />
      Loan History
    </li>
    <li routerLink="/dashboard/support" routerLinkActive="active">
      <img src="assets/images/support.svg" class="img-fluid" /> Support
    </li>
    <li routerLink="/dashboard/terms-conditions" routerLinkActive="active">
      <img src="assets/images/terms-conditions.svg" class="img-fluid" /> Terms &
      Conditions
    </li>
    <li routerLink="/dashboard/privacy-policy" routerLinkActive="active">
      <img src="assets/images/privacy-policy.svg" class="img-fluid" /> Privacy
      Policy
    </li>

    <li (click)="logout()">
      <img src="assets/images/logout.svg" class="img-fluid" /> Logout
    </li>
  </ul>
</aside>

<div
  class="overlay"
  *ngIf="isSidebarOpen && isMobile"
  (click)="closeSidebar()"
></div>
