.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #4528dc;
  color: #fff;
  padding: 20px 0;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  width: 170px;
  filter: brightness(0) invert(1);
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 5px 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  transition: background 0.3s, padding-left 0.3s;
}

.menu li.active {
  color: #ffb900;
}

.menu .icon {
  font-size: 16px;
}

.logout {
  margin-top: 20px;
  color: #ffbaba;
}

.logout:hover {
  background: rgba(255, 0, 0, 0.15);
}
.radius-10{
  border-radius: 10px;
}