.preview-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.details-card {
  flex: 1;
  background: #fff;
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}

.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.cta {
  text-align: center;
  margin-top: 20px;
}

.primary-btn {
    background: linear-gradient(90deg, #7c4fe0, #4528dc);
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 10px 30px;
    border-radius: 7px;
    height: 48px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.preview-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #f3f6ff;
}

.profile-card {
  width: 260px;
  background: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid #eaeaea;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 1px solid rgb(132 64 218 / 46%);
}
.profile-card h4 {
    font-size: 18px;
    font-weight: 600;
}
.profile-card p {
    margin: 0;
    color: #555;
    font-size: 15px;
}
.profile-card p strong {
    font-weight: 500;
    color: #5b00d7;
}

.details-card {
  background: #fff;
  padding: 20px;
  border: 1px solid #eaeaea;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.tab {
    padding: 8px 25px;
    border-radius: 60px;
    border: 1px solid #ddd;
    background: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.tab.active {
  background: linear-gradient(90deg, #7c4fe0, #4528dc);
  color: #fff;
  border-color: #7c4fe0;
}

.edit-icon {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.tab-content {
    background: #ffffff;
    padding: 15px;
    border: 1px solid #f1f1f1;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #e6e9f5;
  font-size: 14px;
}

.row:last-child {
  border-bottom: none;
}

.cta {
  text-align: center;
  margin-top: 20px;
}

.hint {
  font-size: 13px;
  margin-bottom: 10px;
}

.tab-content .row span:first-child{
    font-weight: 500;
    color: #3c3c3c;
    font-size: 15px;
}
.tab-content .row span {
    font-family: "Poppins", sans-serif;
    font-size: 15px;    
}

.primary-btn {
  background: linear-gradient(90deg, #7c4fe0, #4528dc);
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 10px 30px;
    border-radius: 7px;
    height: 48px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.btn-primary:hover {
  background: #3c3c3c;
}

.detail-card{

}