<div class="otp-page">

  <!-- LEFT -->
  <div class="otp-left" style="background: url(../assets/images/otp_verification.webp)no-repeat center; background-size: cover;">
    
  </div>

  <!-- RIGHT -->
  <div class="otp-right text-center">
    <div class="verification_box">
      <h2>OTP Verification</h2>
      <p>Please enter the OTP sent to <b>{{ phone }}</b></p>

      <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">

        <!-- OTP BOXES -->
        <div class="otp-inputs">
          <input
            *ngFor="let ctrl of otpControls; let i = index"
            maxlength="1"
            type="text"
            inputmode="numeric"
            [formControlName]="ctrl"
            (input)="moveNext($event, i)"
          />
        </div>

        <!-- ERROR -->
        <small class="error" *ngIf="otpForm.touched && otpForm.invalid">
          Please enter valid 6-digit OTP
        </small>

        <!-- BUTTON -->
        <button
          class="btn-primary sendOtp"
          type="submit"
          [disabled]="otpForm.invalid || isLoading"
        >
          {{ isLoading ? 'Verifying...' : 'VERIFY OTP' }}
        </button>
      </form>

      <!-- RESEND -->
      <div class="resend">
        Didn’t receive OTP?
        <span (click)="resendOtp()">Resend again</span>
      </div>
    </div>
  </div>

</div>
