<div class="loan-history-page">

  <!-- HEADER -->
  <div class="history-header">
    <h2>Loan History</h2>
  </div>


  <!-- TABS -->
  <div class="history-tabs">

    <button [class.active]="tab==='ALL'" (click)="changeTab('ALL')">
      All ({{ allSummary?.totalApplications || 0 }})
    </button>

    <button [class.active]="tab==='ACTIVE'" (click)="changeTab('ACTIVE')">
      Active ({{ allSummary?.countsByBucket?.active || 0 }})
    </button>

    <button [class.active]="tab==='CLOSED'" (click)="changeTab('CLOSED')">
      Closed ({{ allSummary?.countsByBucket?.closed || 0 }})
    </button>

    <button [class.active]="tab==='IN_PROGRESS'" (click)="changeTab('IN_PROGRESS')">
      In Progress ({{ allSummary?.countsByBucket?.inProgress || 0 }})
    </button>

  </div>

  <!-- EMPTY -->
  <div *ngIf="loanList.length === 0" class="empty-state">
    No loan history found
  </div>

  <!-- LIST -->
  <div class="loan-list">

    <div class="loan-card" *ngFor="let item of loanList">

      <div class="loan-top">
        <div>
          <h4>{{ item.applicationNumber }}</h4>
          <span class="badge">
            {{ item.overview?.historyBucket }}
          </span>
        </div>

        <div class="amount">
          ₹ {{ item.overview?.approvedAmount || item.overview?.requestedAmount || 0 }}
        </div>
      </div>

      <div class="loan-mid">

        <div>
          <label>Status</label>
          <p>{{ item.status?.loanStatus || item.status?.loanStatus }}</p>
        </div>

        <div>
          <label>Outstanding</label>
          <p>₹ {{ item.overview?.outstandingAmount || 0 }}</p>
        </div>

        <div>
          <label>Next Due</label>
          <p>{{ item.overview?.nextDueDateDisplay || '-' }}</p>
        </div>

      </div>

      <div class="loan-actions">

        <button class="btn-start"
                (click)="openDetail(item.applicationId)">
          View Details
        </button>

        <button *ngIf="item.closure?.nocUrl"
                (click)="openNoc(item.closure.nocUrl)">
          View NOC
        </button>

      </div>

    </div>

  </div>

</div>