<section class="support-page">
  <div class="support-shell">
    <div class="support-head">
      <span class="support-badge">Customer Care</span>
      <h1>{{ supportContactCard.title }}</h1>
      <p>{{ supportContactCard.subtitle }}</p>
    </div>

    <div class="support-card">
      <div class="support-row">
        <div class="support-icon">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="support-copy">
          <span>Address</span>
          <p>{{ supportContactCard.address }}</p>
        </div>
      </div>

      <div class="support-row">
        <div class="support-icon">
          <i class="fa-solid fa-phone"></i>
        </div>
        <div class="support-copy">
          <span>Phone -</span>
          <a [href]="'tel:' + supportContactCard.phone">{{ supportContactCard.phone }}</a>
        </div>
      </div>

      <div class="support-row">
        <div class="support-icon">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="support-copy">
          <span>Email -</span>
          <a [href]="'mailto:' + supportContactCard.email">{{ supportContactCard.email }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
