<div class="status-container">

<div class="action-arr">
	<a href="#" class="back-lk"><i class="fa-solid fa-arrow-left"></i></a>
	<h2 class="page-title">Status of Application</h2>
</div>

<div class="status-card mt-3">
  <div class="row">
    <!-- LEFT : STATUS -->
    <div class="col-md-6">
      <div class="status-left">
        <div class="status-list">
          <div class="status-item disabled">disbursement</div>
          <div class="status-item disabled">esign</div>
          <div class="status-item disabled">sanction</div>

          <div class="row">
            <div class="col-md-6">
              <div class="status-item active">
                Application in review
              </div>
            </div>

            <div class="col-md-6">
              <div class="status-item completed">
                Application submitted
                <span class="check">✔</span>
              </div>
            </div>
          </div>

        </div>

        <button class="btn-theme mt-3">Refresh</button>
      </div>
    </div>

    <!-- RIGHT : ILLUSTRATION -->
    <div class="col-md-6">
      <div class="status-right">
      <img src="assets/images/status_of_application.webp" alt="Status of Application" />
    </div>
    </div>

  </div>
  </div>
</div>
