.status-container {
  background: #f4f6fb;
  padding: 30px;
}

.status-card {
    width: 100%;
    background: #fff;
    padding: 30px;
}

/* LEFT SIDE */
.status-list {
    display: grid;
    gap: 15px;
    text-transform: capitalize;
}

.status-item {
  padding: 12px 16px;
}

/* STATES */
.status-item.disabled {
    background: #fbf8ff;
    border: 2px solid #ecddff;
    color: #444;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.status-item.active {
    background: linear-gradient(90deg, #7c4fe0, #4528dc);
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    height: 60px;
    display: grid;
    align-items: center;
    justify-items: center;
    font-weight: 500;
}

.status-item.completed {
    background: linear-gradient(90deg, #2c8cff, #5ad1ff);
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    height: 60px;
    display: grid;
    grid-template-columns: auto 16px;
    grid-gap: 15px;
    align-items: center;
    justify-items: center;
    font-weight: 500;
    justify-content: center;
}

.check {
  background: #78bf02;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BUTTON */
.btn-theme{
    background: linear-gradient(90deg, #7c4fe0, #4528dc);
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 14px 30px;
    border-radius: 7px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.btn-theme:hover{
  background: #3c3c3c;
}

/* RIGHT SIDE */
.status-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-right img {
    max-width: 100%;
    height: auto;
    max-height: 310px;
}
.action-arr {
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 12px;
    align-items: center;
}
.back-lk {
    background: #fff;
    display: grid;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-items: center;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid #8541da;
    color: #8541da;
    border-radius: 50px;
}
.page-title {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}