.loan-calculator-wrapper {
  background: #f5f8ff;
  padding: 25px;
}

/* LEFT */
.calculator-left {
    background: #ffffff;
    padding: 30px;
    border: 1px solid #eeeeee;
    height: 100%;
}

.calculator-left h3 {
  margin-bottom: 10px;
  color: #813dda;
}

.calculator-left p {
    font-size: 15px;
    color: #555;
    font-family: "Poppins", sans-serif;
}

.info-badges {
  display: flex;
  gap: 10px;
  margin: 25px 0 15px;
}

.info-badges span {
    font-family: "Poppins", sans-serif;
    border: 1px solid #ddd;
    padding: 13px 25px;
    color: #444;
    border-radius: 0;
}

/* BUTTONS */
.action-btns {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.btn-accept {
    background: linear-gradient(90deg, #7c4fe0, #4528dc);
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 10px 30px;
    border-radius: 7px;
    height: 48px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.btn-reject {
  background: #c62828;
  color: #fff;
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
}

/* RIGHT */
.calculator-right {
    background: #ffffff;
    padding: 30px;
    border: 1px solid #eeeeee;
}

.field {
  margin-bottom: 18px;
}

.field label {
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.field select{
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #444;
    margin-top: 6px;
    height: 48px;
    border-radius: 0;
    border-color: #ddd;
    padding: 0px 15px;
}
.field input[type="range"]{
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 50px;
  background: #e5e7eb;  /* track color */
  outline: none;
}
.field input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #5b04d9; /* thumb color */
  cursor: pointer;
}

.field small {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: #8541db;
}

.range-info{
  text-align: right;
}

/* RESULT */
.result-box {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.result {
  flex: 1;
  background: rgb(241 231 255);
  border-radius: 10px;
  padding: 25px;
  text-align: center;
}

.result p {
    font-size: 14px;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
}

.result h4 {
  color: #8541da;
}
.range-custom{
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 50px;
  outline: none;
  background: linear-gradient(to right, #5b04d9 0%, #5b04d9 50%, #e5e7eb 50%, #e5e7eb 100%);
}

.range-custom::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #5b04d9;
  border: 3px solid #fff;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  cursor: pointer;
}