.ekyc-container {
  min-height: 80vh;
  background: #f5f7fb;
  padding: 30px;
}

.ekyc-card {
  background: #ffffff;
  padding: 30px;
  text-align: center;
}

.ekyc-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #3c3c3c;
}

.ekyc-illustration img {
  width: 100%;
  max-width: 360px;
  margin: 0 auto 20px;
}

.ekyc-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 24px;
}

.ekyc-btn {
    background: linear-gradient(90deg, #7c4fe0, #4528dc);
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 10px 30px;
    border-radius: 7px;
    height: 48px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;  
}
.ekyc-btn:hover {
  background: #3c3c3c;
}
