.personal-info-container {
  padding: 30px;
  background: #f5f8ff;
}

.personal-info-card {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.personal-info-form {
  padding: 30px;
  background: #fff;
  border: 1px solid #f0e4ff;
}

.action-arr {
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 12px;
    align-items: center;
}
.back-lk {
    background: #fff;
    display: grid;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-items: center;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid #8541da;
    color: #8541da;
    border-radius: 50px;
}
.page-title {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.subtitle {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 22px;
}

.personal-info-form .form-group label {
  display: block;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

.personal-info-form .form-group input[type=number],
.personal-info-form .form-group input[type=date],
.personal-info-form .form-group select {
    width: 100%;
    height: 48px;
    padding: 7px 15px;
    border-radius: 0;
    border: 1px solid #ddd;
    outline: none;
    font-size: 15px;
    color: #444;
    background: #fff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.toggle-group {
  display: inline-block;
}
.toggle-group button {
    padding: 3px 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: #823eda;
    font-weight: 400;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    margin-right: 5px;
}
.toggle-group button.active {
  background: #3c3c3c;
  color: #fff;
}

.radio-group {
  display: flex;
  gap: 20px;
  font-size: 13px;
}

.btn-primary {
  background: linear-gradient(90deg, #7c4fe0, #4528dc);
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 10px 30px;
    border-radius: 7px;
    height: 48px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.btn-primary:hover {
  background: #3c3c3c;
}

.error {
  color: #ff4d4f;
  font-size: 11px;
  margin-top: 4px;
}

.personal-info-illustration {  
  background: #fff;
}

/* Card full height */
.personal-info-card {
  
}

/* 🔥 LEFT FORM SCROLL */
.personal-info-form {  
  overflow-y: auto;
  padding-right: 16px;
}

/* Smooth scrollbar */
.personal-info-form::-webkit-scrollbar {
  width: 6px;
}

.personal-info-form::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.personal-info-form::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}

.if-dnone{
  display: none;
}