.ekyc-container {
    min-height: 70vh;
    background: #f4f6fb;
    padding: 30px;
}

/* CARD */
.ekyc-card {
    background: #ffffff;
    padding: 30px 30px;
    width: 100%;
    text-align: center;
    height: 100%;
}

.error-card {
    border-top: 5px solid #7c4fe0;
}

/* TITLE */
.ekyc-title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #7c4fe0;
  margin-bottom: 18px;
}
.ekyc-illustration{
    margin: 20px auto 10px;
    display: grid;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

/* IMAGE */
.ekyc-illustration img {
    display: block;
}

/* TEXT */
.ekyc-text {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #555;
    margin-bottom: 25px;
    line-height: 1.5;
}

/* BUTTONS */
.action-buttons {
  display: flex;
  gap: 14px;
  justify-content: center;
}

.btn-primary {
    background: linear-gradient(90deg, #7c4fe0, #4528dc);
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 14px 30px;
    border-radius: 7px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}
.btn-primary:hover {
  background: #3c3c3c;
}

.btn-outline {
    border: 1px solid #ccc;
    background: transparent;
    font-family: "Poppins", sans-serif;
    padding: 14px 30px;
    border-radius: 7px;
    color: #444;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.btn-outline:hover {
  background: #f5f5f5;
}
